body {
    font: normal 15pt Arial;
    background-image: linear-gradient(to left, rgb(212, 245, 253), rgb(163, 237, 255));
    color: rgb(65, 55, 3);
}
div#area {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to bottom, rgb(64, 138, 199), rgb(1, 93, 168));
    display: table;
    padding: 20px;
    margin: auto;
}
div#whats{
    margin: auto;
    background-color: rgb(27, 196, 78);
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10px;
    width: 180px;
    border-radius: 4%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
}
div#insta{
    margin: auto;background-image: linear-gradient(to left, purple, rgb(199, 136, 0));
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10px;
    width: 180px;
    border-radius: 4%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
}
h2#whatsname{
    font-size: 130%;
}
h1{
    color:white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.548);
}
p {
    color: white;
}
input#botao1{
    font-size: 100%;
    background-color: rgb(255, 220, 63);
    color: black;
}
input#botao2{
    font-size: 90%;
    background-color: rgb(255, 220, 63);
    color: black;
}
input#music{
    font-size: 90%;
    color: black;
}