@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
body {
    font: normal 15pt Arial;
    background-image: linear-gradient(to left, rgb(212, 245, 253), rgb(163, 237, 255));
    color: rgb(65, 55, 3);
}
#area {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 3%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to bottom, rgb(64, 138, 199), rgb(1, 93, 168));
    display: table;
    padding: 20px;
    margin: auto;
}
#botoes {
    align-items: center;
    margin: auto;
    display: flex; /* Utilizamos flexbox para alinhar as divs lado a lado */
}
#whats {
    display: flex; /* Alinhar elementos lado a lado */
    align-items: center; /* Centralizar verticalmente os elementos */
    gap: 2px; /* Espaçamento entre o ícone e o texto */
    cursor: pointer; /* Mostrar cursor de mão para indicar interatividade */
    padding: 10px; /* Adicionar algum espaço interno para melhorar a aparência */
    background-color: rgb(27, 196, 78);
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10px;
    width: fit-content; /* Largura ajustada ao conteúdo */
    border-radius: 4%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
    transition: background-color 0.3s; /* Adiciona uma transição suave */
    border: 10px;
    width: 180px;
    border-radius: 5%;
    margin-right: 10px; /* Espaçamento entre as divs */
}
#whats:hover {
    background-color: rgb(20, 150, 60); /* Cor mais escura no hover */
}
#insta {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background-image: linear-gradient(to left, purple, rgb(199, 136, 0));
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10px;
    width: 180px;
    border-radius: 5%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
    transition: background-image 0.3s; /* Adiciona uma transição suave */
}
#insta:hover {
    background-image: linear-gradient(to left, darkpurple, darkorange); /* Cores mais escuras no hover */
}
#gift {
    margin: auto;
    margin-top: 10px;
    gap: 2px; /* Espaçamento entre o ícone e o texto */
    cursor: pointer; /* Mostrar cursor de mão para indicar interatividade */
    padding: 10px; /* Adicionar algum espaço interno para melhorar a aparência */
    background-color: rgb(255, 174, 0);
    border: 10px;
    width: fit-content; /* Largura ajustada ao conteúdo */
    border-radius: 4%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
    transition: background-color 0.3s; /* Adiciona uma transição suave */
    border: 10px;
    width: 180px;
    border-radius: 5%;
}
#gift:hover {
    background-color: rgb(214, 146, 0); /* Cor mais escura no hover */
}
#whatsname{
    font-size: 130%;
}
h1{
    font-family: 'Caprasimo', cursive;
    color:white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.548);
}
p {
    color: white;
}
#botao1{
    font-size: 100%;
    background-color: rgb(255, 220, 63);
    color: black;
}
#botao2{
    font-size: 90%;
    background-color: rgb(255, 220, 63);
    color: black;
}
.popup {
    display: inline-block;
    width: 50%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, rgb(255, 229, 173), rgb(255, 212, 72));
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
#gift {
    cursor: pointer;
}
.popup img {
    max-width: 30%;
    height: auto;
}
#closePopupButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}